
.navbar{
    
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 60px;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 2;
    border-bottom: transparent;
    transition:all 0.6s ease-in-out;
    color: #C5C6C7;
    font-weight: 500;

}

.nav ,.active{
    background-color:#0B0C10;
    border-bottom: 1px solid #C5C6C7;
    
    


}
#navbar--left{
    cursor: pointer;
    font-size: 14px;
    text-decoration:underline;

    display: flex;
    width: 200%;
    margin-left:3.14%;
}

#navbar--right{
    display: flex;
    margin-right:3.14%;
    text-align: right;

}
#home,#about,#git{
    font-size: 14px;
    cursor: pointer;
}

#git:hover,#navbar--left:hover{

    transition: all 0.6s ease-in-out;
    color: #66FCF1;

}

.navbar:hover{
    box-shadow: 5px 0px 7px 1px #C5C6C7 ;
    background-color: #1F2833;

}