 
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{

    font-family: 'Sofia Sans Condense';
    width: 100%;
    margin: 0;
    padding: 0;
    

}
.fake{
    background-color:#0B0C10 ;
    background-color: #1F2833;
    background-color: #C5C6C7;
    background-color: #66FCF1;
    background-color: #45A29E;

}

.overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);

}
.App{
    display: grid;
    max-height: 100vh;
}
#upload--main--containter{
    position: relative;
    top:-60px;
}



video{
    width:100vw;
    height:100vh;

    object-fit:cover;
    top:0;
    position: fixed;
    z-index: 0;
}



#upload--containter{
    color: #C5C6C7;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

#upload--content{
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 2%;
}
#upload--content:hover{
color:#66FCF1;

transition: all 0.3s ease-in-out;

}
#upload--button{
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #C5C6C7;
    width: 20%;
    border-radius: 100px;

    transition: all 0.6s ease-in-out;
  

}

#upload--button::-webkit-file-upload-button{
    visibility: hidden;
}

#upload--button::before{
    content: 'Choose your workbook';
    display: inline-block;
    color:white;
    text-align: center;
    margin-top: 22px;

}
#upload--button:hover{

    box-shadow:   0 2px 40px 2px rgb(177, 245, 245);
  

}

#upload--result{
    color: #C5C6C7;
    background-color: #0B0C10;;
    z-index: 0;
    max-height: 100%;
    
}


#dashboard--title{
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #1F2833;
    box-shadow:   0px 0px 1px 0px #C5C6C7
}

#dashboard--title:hover{
    color:#66FCF1;
    transition: all 0.3s ease-in-out;
}





.table{

    display: flex;
    background-color: #0B0C10;
    border-bottom: 2px solid #45A29E ;

}
.table:hover{
    transition: all 0.2s ease-in-out;
    background-color: #1F2833;
    border-bottom: 2px solid #66FCF1 ;
    color:white;

}



.title{
    padding: 10px;
    padding-left:25px;
    font-size: 15px;
    margin:auto
    
    
}

.subtitle{
    font-size: 13px;
    padding: 10px;
    padding-left: 45px;
    
    margin: auto;
}
.chevron{
    width: 15px;
    margin: 20px;
    transform: rotate(-90deg);
    transition: all 0.2s ease-in-out;
    fill:#45A29E;

  
}
.chevron.open{
    transform: rotate(-0deg);
    fill:#66FCF1;



}
.table--subtitle{
    background-color: #1F2833;

    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #45A29E ;
}
.table--subtitle:hover{
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #66FCF1 ;
    color:white;
}
.subsubtitle{
    padding:10px;
    padding-left:55px;
    margin: auto;



}
.table--sub--subtitle{
    font-size:13px;
    border-bottom: 1px solid #0B0C10;
    display: flex;
    color: #0B0C10;
    background-color: #C5C6C7;
    box-shadow: 5px 0px 7px 1px #1F2833 ;


}
.key{
    font-weight: 600;
    font-size: 10px;
    color: #0B0C10;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  

}
.value{

    font-size: 10px;

    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1F2833;
}

.table--header{
    background-color: #C5C6C7;
    font-size: 11px;
    font-weight: 600;
    
    color:#1F2833;
    display: flex;
    flex-direction: row;
    
    /* gap: 10px; */
    height: 5vh;
    border-bottom: 1px solid #1F2833;
}
.table--header>div{
    display: flex;
    margin: auto;
    justify-content: center;
}
.table--header>div:hover{
    box-shadow: 0px 2px 0px 0px #66FCF1;
    transition:all 0.6s cubic-bezier(0,1,0,1);
}


.table--row{
    border-bottom: 1px solid #0B0C10;    background-color: #1f28330e;

    height: 5vh;
    display: flex;   
    text-align: center;
    background-color: #C5C6C7;
    color: #0B0C10;





}


.table--content{    background-color: #1f28330e;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    height: 5vh;
    border-bottom: 1px solid #1F2833;
    background-color: #C5C6C7;
    color:#1F2833;
}



.table--content>div{
    display: flex;
    margin: auto;
    justify-content: center;


}

.table--content>div:hover{

    transition:all 0.6s cubic-bezier(0,1,0,1);
    box-shadow: 0px 1px 0px 0px #1F2833;
}
.table--content>div:first-of-type{
   margin-left: 10px;
   justify-content: left;
    font-size: 10px;
    font-weight: 600;
    
}

.content{
    font-size: 12px;
    max-height: 0px;
    overflow: hidden;
    transition:all 0.6s cubic-bezier(0,1,0,1);


}

.content.show{
    max-height:9999px ;
    transition:all 1s ease-in-out;


}

.expand{
    transition: all 1s ease-in-out;
    border-bottom: 2px solid #66FCF1 ;
    background-color: #1F2833;
    color: white;
}