*{
    border:1px solid black;
}

.table{
    display: grid;
    width: 100%;
    text-align: center;
}
.table--header > div, .table--content > div{
   width: calc(100%/8);
   display: inline-block;
   

}

.table--header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}
.table--content{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
   
}